altair==5.5.0
annotated-types==0.7.0
anyio==4.13.0
attrs==26.1.0
babel==2.18.0
beautifulsoup4==4.14.3
blinker==1.9.0
branca==0.8.2
cachetools==5.5.2
cdsapi==0.7.7
certifi==2026.4.22
cffi==2.0.0
cftime==1.6.5
charset-normalizer==3.4.7
click==8.3.3
click-plugins==1.1.1.2
cligj==0.7.2
colorama==0.4.6
contourpy==1.3.3
cryptography==48.0.0
cycler==0.12.1
dbfread==2.0.7
docxcompose==2.1.0
docxtpl==0.16.8
ecmwf-datastores-client==0.5.1
et_xmlfile==2.0.0
feedparser==6.0.12
fiona==1.10.1
folium==0.16.0
fonttools==4.62.1
geopandas==0.14.4
gitdb==4.0.12
GitPython==3.1.49
google-ai-generativelanguage==0.6.15
google-api-core==2.30.3
google-api-python-client==2.195.0
google-auth==2.50.0
google-auth-httplib2==0.3.1
google-generativeai==0.8.6
googleapis-common-protos==1.74.0
greenlet==3.5.1
grpcio==1.80.0
grpcio-status==1.62.3
h11==0.16.0
httplib2==0.31.2
httptools==0.7.1
idna==3.13
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver==1.5.0
lxml==6.1.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.8.4
mdurl==0.1.2
multiurl==0.3.8
narwhals==2.20.0
netCDF4==1.7.4
numpy==2.4.6
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==24.2
pandas==3.0.3
patsy==1.0.2
pillow==10.4.0
plotly==6.7.0
proto-plus==1.27.2
protobuf==4.25.9
pyarrow==24.0.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.3
pydantic_core==2.46.3
pydeck==0.9.2
Pygments==2.20.0
pyodbc==5.3.0
pyparsing==3.3.2
pyproj==3.7.2
pyshp==3.0.5
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-docx==1.1.0
python-dotenv==1.2.2
python-multipart==0.0.27
pytz==2026.2
PyYAML==6.0.3
referencing==0.37.0
requests==2.31.0
rich==13.9.4
rpds-py==0.30.0
scipy==1.17.1
selenium==4.20.0
sgmllib3k==1.0.0
shapely==2.1.2
six==1.17.0
smmap==5.0.3
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.3
SQLAlchemy==2.0.50
starlette==1.0.0
statsmodels==0.14.2
streamlit==1.57.0
streamlit_folium==0.20.0
tenacity==8.5.0
toml==0.10.2
tornado==6.5.5
tqdm==4.67.3
trio==0.33.0
trio-websocket==0.12.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
uritemplate==4.2.0
urllib3==2.6.3
uvicorn==0.46.0
watchdog==6.0.0
websocket-client==1.9.0
websockets==16.0
wsproto==1.3.2
xarray==2026.4.0
xyzservices==2026.3.0
